<!DOCTYPE html>
<html>
  <head>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages': ['corechart']});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {

        var data = google.visualization.arrayToDataTable([
          [
            'Pilot', 'Money Deliverd'
          ],
          [
            'Fry', <%= totalFryMoney %>
          ],
          [
            'Amy', <%= totalAmyMoney %>
          ],
          [
            'Bender', <%= totalBenderMoney %>
          ],
          ['Leela', <%= totalLeelaMoney %>]
        ]);

        var options = {
          title: 'Planet Express Log'
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));

        chart.draw(data, options);
      }
    </script>

    <title></title>
  </head>
  <body>
    <p>
      Total Money Made This Week:
      <%= totalMoneyDelivered %>
    </p>
    <p>
      Fry:
      <%= totalFryMoney %>
      Amy:
      <%= totalAmyMoney %>
      Bender:
      <%= totalBenderMoney %>
      Leela:
      <%= totalLeelaMoney %>
    </p>
    <div id="piechart" style="width: 900px; height: 500px;"></div>
    <div id="table_div"></div>

  </table>
  <table>
    <thead>
      <tr>
        <th>
          Employees
        </th>
        <th>
          Number of Trips
        </th>
        <th>
          Bonus
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          Fry
        </td>
        <td>
          <%= totalFryMoney %>
        </td>
        <td>
          <%= fryBonus %>
        </td>
      </tr>
      <tr>
        <td>
          Amy
        </td>
        <td>
          <%= totalAmyMoney %>
        </td>
        <td>
          <%= amyBonus %>
        </td>
      </tr>
      <tr>
        <td>
          Bender
        </td>
        <td>
          <%= totalBenderMoney %>
        </td>
        <td>
          <%= benderBonus %>
        </td>
      </tr>
      <tr>
        <td>
          Leela
        </td>
        <td>
          <%= totalLeelaMoney %>
        </td>
        <td>
          <%= leelaBonus %>
        </td>
      </tr>
    </tbody>
  </table>
  <img src="https://media.giphy.com/media/vSoHbyABFCunS/giphy.gif"/>

</body>
</html>
